<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="dropdown">
  <button class="button">
    <i class="fa fa-caret-down"></i>
    <div class="dropdown-content">
      <a href="https://www.facebook.com/leonardo.pechnicki" target="_blank" class="fa fa-facebook"></a>
      <a href="https://www.linkedin.com/in/leonardo-pechnicki-dos-santos-392a5868/" target="_blank" class="fa fa-linkedin"></a>
      <a href="https://www.instagram.com/leo_pechnicki/" target="_blank" class="fa fa-instagram"></a>
      <a href="skype:pechnicki?call" target="_blank" class="fa fa-skype"></a>
      <a href="https://bitbucket.org/%7Bd2d8d68e-5cdf-4cff-a69c-f461fae336de%7D/" target="_blank" class="fa fa-bitbucket"></a>
      <a href="https://github.com/leopechnicki" target="_blank" class="fa fa-github"></a>
      <a href="https://www.twitch.tv/pechnicki" target="_blank" class="fa fa-twitch"></a>
    </div>
  </button>
</div>
