#particles-js {
  background: linear-gradient(0deg, var(--fourth-color) 0%, var(--secondary-color) 100%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

app-apresentation {
  margin-top: 10px;
  margin-left: 35vw;
  margin-right: auto;
  float: left;
}

app-contact {
  float: right;
}

@keyframes slideInFromBottom {
  from {
    top: 100vh;
    height: 0;
    opacity: 0;
  }
  to {
    top: 25vh;
    height: fit-content;
    opacity: 1;
  }
}
