#particles-js {
  background: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

app-apresentation {
  margin-top: 10px;
  margin-left: 35vw;
  margin-right: auto;
  float: left;
}

app-contact {
  float: right;
}

.commingSoon{
  position: absolute;
  top: 45vh;
  left: 36vw;
  float: left;
  color: var(--primary-color);
  font-size: 60px;
  animation: blink 2s infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  from {
    top: 100vh;
    height: 0;
    opacity: 0;
  }
  to {
    top: 25vh;
    height: 50vh;
    opacity: 1;
  }
}
