/* You can add global styles to this file, and also import other style files */
:root{
  --primary-color: whitesmoke;
  --secondary-color: black;
  --third-color: #ff7d4b;
}

body{
  margin: 0;
  overflow: hidden;
}

.box {
  width: 30vw;
  height: 50vh;
  background: var(--primary-color);
  position: absolute;
  top: 25vh;
  animation: slideInFromBottom 5s;
  border-radius: 10px;
}
