/* You can add global styles to this file, and also import other style files */
:root{
  --primary-color: whitesmoke;
  --secondary-color: black;
  --third-color: #7b67ff;
  --fourth-color: #00aff0;
  /*--primary-color: whitesmoke;
  --secondary-color: black;
  --third-color: #ff7d4b;
  --fourth-color: #00aff0;*/
}

body{
  margin: 0;
  overflow: hidden;
}

.box {
  width: 25vw;
  height: fit-content;
  background: transparent;
  /*background: var(--primary-color);*/
  position: absolute;
  top: 25vh;
  animation: slideInFromBottom 5s;
  border-radius: 10px;
}
